#root {
  color: red;
}

.card {
  /* width: 25%; */
  /* height: 200px; */

  text-align: center;
}

.title {
  color: black;
  font-size: 25px;
  border: solid 1px;
  padding: 0.5em;
  border-radius: 10px;
}
.show-title {
  color: black;
  font-size: 25px;
  padding: 0.5em;
  border-radius: 10px;
  padding: 20px 50px 0px 50px;
}
.card p {
  color: grey;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  grid-gap: 2.5em;
}
.show-grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  padding: 0px 50px 20px 50px;
  grid-gap: 2.5em;
}
.list-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  grid-gap: 2.5em;
}
.show-card {
  border: solid 0.5px lightgray;
  box-shadow: 5px 5px 5px lightgrey;
}
.show-title {
  cursor: pointer;
}
